.navbar{
    display: flex;
    background-color: #87CEFA;
    padding: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}
.inicio, .curso, .servicos, .contato {
    padding-right: 10px;   
}
.blog {
    margin-left: auto;
}


body {
    background-color: beige;
}
